<div class="container">
  

  <ul>
      <% @posts.each do |post| %>
        <%= post.inspect %>
        <li> <a href="post/<%=post.id%>"><%= post.title %></a> <%= post.source%> <br> <%= post.author.name %> <%= post.comments.count %> </li>
      <% end %>      
  </ul>
</div>
