<div class="container">
  <h1> <%= @user.name %>'s comments</h1>
  <ul>
     <% @comments.each do |comment| %>
        <li> <a href="/post/<%=comment.post.id%>"> <%= comment.content %> </a>  <a href="/users/<%=comment.user.id%>"><%= comment.user.name %></a> <span> <%= comment.created_at.to_s(:db) %></span></li>
      <% end %>
  </ul>
</div>